<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Edita tu perfil</h4>
        <p class="card-category">Completa tu perfil</p>
        {{!-- <p>{{user}}</p> --}}
        <p>{{user.name}}</p>
      </div>
      <div class="card-body">
        <form action="/users/profile" method="POST">

          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label class="bmd-label-floating">Nombre</label>
                <input type="text" class="form-control" name="name" value="{{user.name}}">
              </div>
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Email</label>
                <input type="email" class="form-control" name="email" value="{{user.email}}">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Teléfono</label>
                <input type="text" class="form-control" name="phone" value="{{user.phone}}">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Confirma tu password</label>
                <input type="password" class="form-control" name="password2">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Acerca de tí</label>
                <div class="form-group">
                  <label class="bmd-label-floating"> Cuéntanos</label>
                  <textarea class="form-control" rows="5" name="about">{{user.about}}</textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="custom-file bg-secondary">
                <input type="file" class="custom-file-input" id="picprofile" name="picprofile">
                <label class="custom-file-label" for="picprofile">Selecciona tu imagen</label>
              </div>
            </div>
          </div>
          
          <button type="submit" class="btn btn-primary pull-right">Actualizar perfil</button>
          <div class="clearfix"></div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-profile">
      <div class="card-avatar">
        <a href="#">
          <img class="img" src="/img/faces/marc.jpg" />
        </a>
      </div>
      <div class="card-body">
        <h6 class="card-category">{{user.email}}</h6>
        <h4 class="card-title">{{user.name}}</h4>
        <p class="card-description">
          {{user.about}}
        </p>
        {{!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> --}}
      </div>
    </div>
  </div>
</div>